/* /deep/ .menucus ul li {
	background-color: #004e87;
	border-right: 2px solid white;
	color: white;
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
	padding: 0;
	margin: 0 auto;
} */